.navbar{


}

.nav a{
    color:white;
}
#home{
    height: 100%;
    height: 100vh;
    /*background: url(images/black.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
#landing{
    margin: 0;
    padding: 0;
    height: 75%;
    overflow-y: scroll;
    /*background-color: black;*/
    /*background-color: #2EB8E6;*/
    overflow: hidden;
    background: url(images/black.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#landing > h1{
    text-transform: uppercase;
    font-size: 42px;
    color: white;
    position: absolute;
    width: 300px;
    left: 50%;
    top: 150px;
    margin-left: -150px;

}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    /*color: #FFC0CB;*/
    color: gray;

}

#cloud-right{
    float:right;
}
#cloud-left{
    margin-top: 150px;
    float:left;
}

.cloud{
    z-index: 1;
    position: relative;

}

#cloud-container{
    max-width: 1200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}

#my-profile{
    z-index: 2;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -160px;
    position: relative;

}


#footer{
    margin-top: 25px;
    text-align: center;
}

.fa:hover{
    text-decoration: none;
}

.fa:focus{
    text-decoration: none;
    color: dimgray;
}
.fa{
    color: dimgray;
}
.icon{

    margin-left: 5px;
    margin-right: 5px;
}

.icon-right{

    margin-left: 5px;
}

.icon-left{
    margin-right: 5px;
}

#about{
    width:75%;
    max-width: 600px;
    margin: 0 auto 150px auto;
    line-height: 1.5;
    text-align: center;
}

#about > p{
    margin-top: 25px;
    font-size: 14px;
}
#about > h1{

    font-size: 48px;
    display: inline-block;
}

.info > img{
    margin-left: auto;
    margin-right: auto;

    width: 125px;
    display: block;
}
.info{

}


.info > h1{
    font-size: 22px;
    text-align: center;

}

.row-content{
    font-size: 12px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
    width: 150px;



}

.row-content > p > span{
    font-weight: bold;
}
.row-content > .left-content{
    display:inline-block;
    text-align: left;
    margin-right: 5px;
    font-weight: bold;

}

.row-content p{
    margin-bottom: 0;
}



.row-content > .right-content{
    display: inline-block;
    text-align: left;
    margin-left: 5px;
}

#experiences{
    max-width:1200px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

@media (max-width: 768px){
    .col-first{
        margin-bottom: 50px;
    }
}

/*** Footer ***/

footer{
    background-color: #19ACD1;
    height: 350px;
}

form{
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    display: block;
}

 input,textarea{
    display: table;
    width: 250px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}


input:nth-last-child(1){
    color: white;
    background-color:dimgrey;
}

textarea:focus, input:focus{
    outline: 0;
}
