@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
  background-color: #eeeeee !important;
}
nav {
  z-index: 100;
  width: 100%;
  height: 75px;
  position: fixed;
  transition: 0.1s all ease; }
  nav .nav-container {
    margin: 0 5%; }
    nav .nav-container .nav-left {
      float: left; }
      nav .nav-container .nav-left img {
        margin-top: 15px;
        width: 40px; }
    nav .nav-container .nav-right {
      float: right; }
      nav .nav-container .nav-right ul.nav-links {
        line-height: 75px; }
        nav .nav-container .nav-right ul.nav-links li {
          display: inline;
          margin: 0 10px;
          list-style-type: none; }
          nav .nav-container .nav-right ul.nav-links li .nav-link {
            color: white; }
            nav .nav-container .nav-right ul.nav-links li .nav-link:hover {
              text-decoration: none;
              color: #c4c5c6; }
            nav .nav-container .nav-right ul.nav-links li .nav-link:focus {
              text-decoration: none; }

#home {

}
  #home #landing {
    margin: 0;
    padding: 0;
    height: 500px;
    overflow-y: scroll;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);

    #home-header{
      position: relative;
      width: 400px;
      top: 150px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      h1{
        font-size: 52px;
        color: white;
        font-weight: 600;
      }
      p{
        margin-top: 15px;
        color: $orange;
        font-size: 18px;

      }
    }

  }

    @media only screen and (max-width: 47.9375em) {
      #cloud-container{
        display: none;
      }
    }

#cloud-right {
  margin-top: 50px;
  float: right; }

#cloud-left {

  float: left; }

.cloud {
  z-index: 1;
  position: relative;
  img{
    width: 200px;

    @media #{$lt-900}{
      width: 180px;
    }
  }

}

#cloud-container {

  max-width: 1200px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top:  5%;

  @media #{$lt-768}{
    display: none;
  }

 }

#my-profile {
  z-index: 2;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -175px;
  position: relative;
  img{
    border-radius: 50%;
    //box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
    margin-left: auto;
    margin-right: auto;
  }

}

#footer {
  margin-top: 25px;
  text-align: center; }

.fa:hover {
  text-decoration: none; }

.fa:focus {
  text-decoration: none;
  color: dimgray; }

.fa {
  color: dimgray; }

.icon {
  margin-left: 5px;
  margin-right: 5px; }

.icon-right {
  margin-left: 5px; }

.icon-left {
  margin-right: 5px; }


#about{

  width: 75%;
  max-width: 600px;
  margin: 0 auto 125px;
  line-height: 1.5;
  text-align: center;
  h1{
    margin-top: 100px;
    color: $orange;
    font-size: 24px;

  }

  h1.speech{
    font-size: 24px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;

    background-color: rgb(225,225,225);
    border: 0px solid #666;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
  }

  h1.speech:after
  {
  	content: ' ';
  	position: absolute;
  	width: 0;
  	height: 0;
  	left: 30px;
  	top: 100px;
  	border: 15px solid;
  	border-color: rgb(225,225,225) transparent transparent rgb(225,225,225);

  }

  p{
    margin-top: 15px;
    font-size: 14px;
  }
}

.info > img {
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  display: block; }

@media only screen and (max-width: 47.9375em) {
  .col-sm-4 {
    margin-bottom: 125px; } }

.info > h1 {
  font-size: 22px;
  text-align: center; }

.row-content {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 250px;
  text-align: center; }

.row-content > p > span {
  font-weight: bold; }

.row-content > .left-content {
  display: inline-block;
  text-align: left;
  margin-right: 5px;
  font-weight: bold; }

.row-content p {
  margin-bottom: 0; }

.row-content > .right-content {
  display: inline-block;
  text-align: left;
  margin-left: 5px; }

#experiences {
  max-width: 1200px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 175px;
  margin-top: 125px; }

@media (max-width: 768px) {
  .col-first {
    margin-bottom: 50px; } }


/*** Footer ***/
footer {
  position: relative;
  //background-color: #0277bb;
  //background-color: #2c3e50;
  box-shadow: 4px -4px 4px rgba(120, 120, 120, 0.3);

  h1{
  padding-top: 35px;
  text-align:center;
  }


form {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  display: block;
    .row-content{
      height: 40px;
      margin-bottom: 20px;
    }
    .textarea-content{
      height: 100px;
    }
    .default-label{
      padding-left: 5px;
      font-size: .6em;
      position: relative;
      top: 2em;
      opacity: 1;
      width: 100%;
      text-align: left;
      opacity: 0;
      transition: $ease;
    }

    .text-received{
      top: 0;
      opacity:1;
      color: #18bc9c;
      transition: $ease;

    }
    input, textarea {
      //background-color: #2c3e50;
      color: rgba(0,0,0,.87);
      background-color: #eeeeee;
      display: table;
      width: 250px;
      border: none;
      padding: 5px;
      border-bottom: 1px #bdbdbd solid;

    }

    #submit-btn {
      color: white;
      background-color: #e04343;
      border-bottom: 0px;
      width: 75px;
      margin-bottom: 25px;
        &:hover {
        transition: 0.1s all ease;
        background-color: #cc2e2e;
      }
    }

}



textarea:focus,
input:focus {
  outline: 0;
  border-bottom: 1px #2c3e50 solid;
}


}

/*==============BLOG PAGE==============*/
nav.blog-nav {
  position: absolute; }

body#body-blog {
  background-color: #c4c5c6; }

.blog-page-header {
  height: 125px;
  background-color: #2c3e50;
  box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3); }

.blog-card {
  margin: -50px auto 50px;
  height: 100%;
  width: 75%;
  max-width: 750px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
  border-radius: 2px; }
  .blog-card img {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px; }
  .blog-card article {
    width: 65%;
    margin: 50px auto; }
    .blog-card article p {
      font-size: 14px; }
    .blog-card article header {
      margin-bottom: 25px; }

#up-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1eb494;
  position: fixed;
  right: 20px;
  bottom: 28px;
  z-index: 100;
  border: none;
  box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
  color: white;
  line-height: 60px;
  text-align: center; }
  #up-btn i.fa-chevron-up {
    color: white; }
  #up-btn p {
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    text-transform: uppercase; }
  #up-btn:hover {
    background-color: #20a284;
    transition: 0.1s all ease; }
  #up-btn:focus {
    text-decoration: none;
    border: none;
    outline: 0; }

/*# sourceMappingURL=styles.css.map */
