@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
  background-color: #eeeeee !important; }

.sky-gradient-00, .sky-gradient-24 {
  background: #00000c; }

.sky-gradient-01 {
  background: linear-gradient(to bottom, #020111 85%, #191621 100%); }

.sky-gradient-02 {
  background: linear-gradient(to bottom, #020111 60%, #20202c 100%); }

.sky-gradient-03 {
  background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%); }

.sky-gradient-04 {
  background: linear-gradient(to bottom, #20202c 0%, #515175 100%); }

.sky-gradient-05 {
  background: linear-gradient(to bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%); }

.sky-gradient-06 {
  background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%); }

.sky-gradient-07 {
  background: linear-gradient(to bottom, #757abf 0%, #8583be 60%, #eab0d1 100%); }

.sky-gradient-08 {
  background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%); }

.sky-gradient-09 {
  background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%); }

.sky-gradient-10 {
  background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%); }

.sky-gradient-11 {
  background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%); }

.sky-gradient-12 {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%); }

.sky-gradient-13 {
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%); }

.sky-gradient-14 {
  background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%); }

.sky-gradient-15 {
  background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%); }

.sky-gradient-16 {
  background: linear-gradient(to bottom, #1e528e 0%, #265889 50%, #9da671 100%); }

.sky-gradient-17 {
  background: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%); }

.sky-gradient-18 {
  background: linear-gradient(to bottom, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%); }

.sky-gradient-19 {
  background: linear-gradient(to bottom, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 80%, #2F1107 100%); }

.sky-gradient-20 {
  background: linear-gradient(to bottom, #071B26 0%, #071B26 30%, #8A3B12 80%, #240E03 100%); }

.sky-gradient-21 {
  background: linear-gradient(to bottom, #010A10 30%, #59230B 80%, #2F1107 100%); }

.sky-gradient-22 {
  background: linear-gradient(to bottom, #090401 50%, #4B1D06 100%); }

.sky-gradient-23 {
  background: linear-gradient(to bottom, #00000c 80%, #150800 100%); }

nav {
  z-index: 100;
  width: 100%;
  height: 75px;
  position: fixed;
  transition: 0.1s all ease; }

nav .nav-container {
  margin: 0 5%; }

nav .nav-container .nav-left {
  float: left; }

nav .nav-container .nav-left img {
  margin-top: 15px;
  width: 40px; }

nav .nav-container .nav-right {
  float: right; }

nav .nav-container .nav-right ul.nav-links {
  line-height: 75px; }

nav .nav-container .nav-right ul.nav-links li {
  display: inline;
  margin: 0 10px;
  list-style-type: none; }

nav .nav-container .nav-right ul.nav-links li .nav-link {
  color: white; }

nav .nav-container .nav-right ul.nav-links li .nav-link:hover {
  text-decoration: none;
  color: #c4c5c6; }

nav .nav-container .nav-right ul.nav-links li .nav-link:focus {
  text-decoration: none; }

#home {
  height: 100%;
  height: 100vh;
  /*background: url(images/black.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/ }

#home #landing {
  margin: 0;
  padding: 0;
  height: 75%;
  overflow-y: scroll;
  /*background-color: black;*/
  /*background-color: #2EB8E6;*/
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3); }
  #home #landing #home-header {
    position: relative;
    width: 350px;
    top: 125px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 0.1s all ease; }
    #home #landing #home-header h1 {
      font-size: 42px;
      color: white;
      font-weight: 600; }
    #home #landing #home-header p {
      color: salmon; }

@media only screen and (max-width: 47.9375em) {
  #cloud-container {
    display: none; } }
#home #my-profile img {
  border-radius: 50%; }

#cloud-right {
  float: right; }

#cloud-left {
  margin-top: -5%;
  float: left; }

.cloud {
  z-index: 1;
  position: relative; }

#cloud-container {
  max-width: 1200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5%; }

#my-profile {
  margin-right: auto;
  margin-left: auto; }

#footer {
  margin-top: 25px;
  text-align: center; }

.fa:hover {
  text-decoration: none; }

.fa:focus {
  text-decoration: none;
  color: dimgray; }

.fa {
  color: dimgray; }

.icon {
  margin-left: 5px;
  margin-right: 5px; }

.icon-right {
  margin-left: 5px; }

.icon-left {
  margin-right: 5px; }

#about {
  width: 75%;
  max-width: 600px;
  margin: 0 auto 125px;
  line-height: 1.5;
  text-align: center; }

#about > p {
  margin-top: 25px;
  font-size: 14px; }

#about h1.speech {
  font-size: 42px;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: inline-block; }

.info > img {
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  display: block; }

@media only screen and (max-width: 47.9375em) {
  .col-sm-4 {
    margin-bottom: 125px; } }
.info > h1 {
  font-size: 22px;
  text-align: center; }

.row-content {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 250px;
  text-align: center; }

.row-content > p > span {
  font-weight: bold; }

.row-content > .left-content {
  display: inline-block;
  text-align: left;
  margin-right: 5px;
  font-weight: bold; }

.row-content p {
  margin-bottom: 0; }

.row-content > .right-content {
  display: inline-block;
  text-align: left;
  margin-left: 5px; }

#experiences {
  max-width: 1200px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 175px;
  margin-top: 125px; }

@media (max-width: 768px) {
  .col-first {
    margin-bottom: 50px; } }
/*** Footer ***/
footer {
  background-color: #0277bb;
  box-shadow: 4px -4px 4px rgba(120, 120, 120, 0.3);
  height: 350px; }

form {
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  display: block; }

input,
textarea {
  display: table;
  width: 250px;
  border: none;
  border-radius: 2px;
  padding-left: 5px; }

input:nth-last-child(1) {
  color: white;
  background-color: #e04343; }

input:nth-last-child(1):hover {
  transition: 0.1s all ease;
  background-color: #cc2e2e; }

textarea:focus,
input:focus {
  outline: 0; }

/*==============BLOG PAGE==============*/
nav.blog-nav {
  position: absolute; }

body#body-blog {
  background-color: #c4c5c6; }

.blog-page-header {
  height: 125px;
  background-color: #00bcd4;
  box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3); }

.blog-card {
  margin: -50px auto 50px;
  height: 100%;
  width: 75%;
  max-width: 750px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
  border-radius: 2px; }

.blog-card img {
  display: block;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px; }

.blog-card article {
  width: 65%;
  margin: 50px auto; }

.blog-card article p {
  font-size: 14px; }

.blog-card article header {
  margin-bottom: 25px; }

#up-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1eb494;
  position: fixed;
  right: 20px;
  bottom: 28px;
  z-index: 100;
  border: none;
  box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
  color: white;
  line-height: 60px;
  text-align: center; }

#up-btn i.fa-chevron-up {
  color: white; }

#up-btn p {
  text-align: center;
  line-height: 56px;
  font-size: 18px;
  text-transform: uppercase; }

#up-btn:hover {
  background-color: #20a284;
  transition: 0.1s all ease; }

#up-btn:focus {
  text-decoration: none;
  border: none;
  outline: 0; }

/*# sourceMappingURL=styles.css.map */
